@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
    color: white;
    width: 100%;
    height: 90vh;
    background:url(imagens/paisagem.jpg) no-repeat;
    background-size: cover;
}

header h1 {
    font-size: 70px;
    font-family: 'Amatic SC',cursive;
}

header h2 {
    margin-top: -200px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px 60px;
    background-color: #2E7100;
    border: none;
    border-radius: 5px;
    transition: 200ms;
}

header a:hover {
    background-color: #3f9e00;
}

article .arvores {
    display: flex;
    flex: 1;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    font-size: 2.4rem;
    font-weight: bold;
}

article .arvores p {
    padding: 0.5rem;
    padding-bottom: 0;
    color: black;
}

article .arvores img {
    width: 55%;
    min-width: 300px;
    height: 70vh;
    max-height: 70vh;
    margin-left: 5px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid springgreen;
    box-shadow: -3px 2px 8px 1px #0000009c;
    margin: 0px 5px 0px 5px;
}

article .arvores#plantadas {
    flex-direction: row-reverse;
    background-color: #92fa92d5;
}

aside #slider {
    display: flex;
    color: #00ff00;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    width: 100%;
    height: 90vh;
    background: url(imagens/desmatamento-IV.jpg) no-repeat;
    background-size: cover;
    position: relative;
}


aside #slider #slide {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

aside #slider #slide .slide {
    width: 80%;
    max-width: 1500px;
    min-width: 300px;
    height: 70vh;
    transition: opacity 600ms;
    margin: auto;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    border: 2px solid #00ff00;
    text-align: center;
}

aside #slider #slide .slide.selecionada {
    opacity: 1;
}


@media (min-width: 1800px) {
    html {
        font-size: 120%;
    }
    header {
        height: 90vh;
    }

    header #navegacao {
        transform: translateX(-3%);
    }

    header #ajude {
        margin-top: 8.0rem;
        transform: translateX(2%);
    }

    article .arvores {
        justify-content: center;
        flex-direction: column;
    }

    article .arvores img {
        margin-top: 50px;
        height: 85vh;
    }

    article .arvores#plantadas {
        justify-content: center;
        flex-direction: column;
    }

}

@media (max-width: 1000px) {

    html {
        font-size: 55%;
    }
    header {
        height: 75vh;
    }

    header #navegacao {
        transform: translateX(-3%);
    }

    header #ajude {
        margin-top: 7.0rem;
        transform: translateX(2%);
    }

    article .arvores {
        justify-content: center;
        flex-direction: column;
    }

    article .arvores img {
        height: 40vh;
    }

    article .arvores#plantadas {
        justify-content: center;
        flex-direction: column;
    }

    #slider h3 {
        font-size: 20px;
        text-align: center;
    }

    #slide .slide {
        max-height: 300px;
    }
}

@media (max-width: 425px) {
    html {
        font-size: 43%;

    }

    header {
        height: 65vh;
        text-align: center;
    }
}