html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background: url(imagens/paisagem.jpg) no-repeat;
    background-size: cover;
}

header #navegacao h1 {
    font-size: 3.5rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

header #navegacao li {
    display: inline-block;
    list-style: none;
}

header #navegacao ul li a {
    font-size: 1.8rem;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    padding: 1.5rem;
    transition: 200ms;
}

header #navegacao ul li a:hover {
    color: #00ff00;
}

header #ajude {
    color: white;
    margin: auto;
    margin-top: 7.0rem;
    transform: translateX(5%);
}

header #ajude button {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    width: 30.0rem;
    padding: 2.0rem;
    border: none;
    border-radius: 5px;
    background-color: #005baf;
    transition: 200ms;
}

header #ajude button:hover {
    background-color: #016ed4;
    transform: scale(1.2);
}

article #derrubadas {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background: url(imagens/arvore.webp) no-repeat;
    background-position: 60vw;
    font-size: 2.8rem;
    font-weight: bold;
}

article #derrubadas p {
    text-align: left;
    padding: 2.0rem;
    padding-bottom: 0;
    color: black;
}

article #plantadas {
    color: #000000;
    display: flex;
    flex: 1;
    align-content: flex-end;
    align-items: flex-end;
    flex-direction: column-reverse;
    width: 100%;
    height: 90vh;
    background: url(imagens/vaso-arvore.png) #00c40033 no-repeat;
    background-position-y: 7vh;
    font-weight: bold;
}

article #plantadas p {
    text-align: left;
    font-size: 3.5rem;
    margin: auto;
    margin-left: 40%;
    font-size: 3.0rem;
}

aside #slider {
    display: flex;
    color: #00ff00;
    align-items: center;
    align-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    width: 100%;
    height: 90vh;
    background: url(imagens/desmatamento-IV.jpg) no-repeat;
    background-size: cover;
    position: relative;
}


aside #slider #slide {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

aside #slider #slide .slide {
    width: 80%;
    height: 70vh;
    transition: opacity 600ms;
    margin: auto;
    opacity: 0;
    position: absolute;
    object-fit: cover;
    border: 2px solid #00ff00;
    text-align: center;
}

aside #slider #slide .slide.selecionada {
    opacity: 1;
}

@media (max-width: 745px) {

    html {
        font-size: 55%;
    }
    header {
        height: 75vh;
    }

    header #navegacao {
        transform: translateX(-3%);
    }

    header #ajude {
        margin-top: 7.0rem;
        transform: translateX(2%);
    }

    #slider h3 {
        font-size: 18px;
    }
}