<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Force</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Green Force</h1>
        <section id="ajude">
            <h2>Cuidar do Meio Ambiente faz bem para você e para a natureza!! <br> Por isso venha ajudar nossa causa.</h2>
            <a href="/new-tree">Ajude o Meio Ambiente</a>
        </section>
    </header>
    <article>
        <section class="arvores">
            <img src="/imagens/arvores-caidas.jpg" alt="Imagem ilustrando o desmantamento no mundo com várias árvores caídas">
            <p>Sabia que mais de 10 bilhões de árvores <br> são derrubadas todos os anos no mundo inteiro?</p>
        </section>
    </article>
    <article>
        <section class="arvores" id="plantadas">
            <img src="/imagens/reflorestamento.jpg" alt="Imagem ilustrando o quanto de árvores devem ser plantadas para conter o aquecimento global.">
            <p>Para conter o aquecimento global, <br> é preciso plantar mais de 1 trilhão de árvores.</p>
        </section>
    </article>
    <aside>
        <section id="slider">
            <h3>O desmatamento da Amazônia aumenta a cada ano.</h3>
            <section id="slide">
                <img class="slide selecionada" src="/imagens/desmatamento-I.jpg" alt="Grande área da Amazônia desmatada">
                <img class="slide" src="/imagens/desmatamento-II.jpg" alt="Grande área da Amazônia desmatada">
                <img class="slide" src="/imagens/desmatamento-III.webp" alt="Grande área da Amazônia desmatada">
            </section>
        </section>
    </aside>

    <main>
        <h2>Venha ajudar nossa causa, plante uma árvore</h2>
        <span>Árvores plantadas: <span id="contador">0</span></span>
        <p>Plante uma árvore e <a href="/new-tree">mande para nós</a>, onde colocaremos aqui na página principal a foto da árvore com seu nome, mostrando assim que ainda existem pessoas que se preocupam com o meio ambiente.</p>
        
        <p>Abaixo você verá pessoas que ajudaram o meio ambiente e enviaram imagens de sua árvore. Se você também quiser ajudar basta <a href="/new-tree">acessar este link</a>.</p>

        
        <section id="mural">
            <div class="post">
                <h3>Título</h3>
                <p id="author">Autor: Desconhecido</p>
                <img src="/imagens/imagem_preview.jpg" alt="Imagem a ser enviada">
                <p><em>Conte porque resolveu plantar a árvore</em></p>
            </div>
        </section>
    </main>
    <script src="/scripts/script.js"></script>
</body>
</html>
