<!DOCTYPE html>
<html lang="pt-br" noindex>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Force</title>
    <link rel="stylesheet" href="/styles/response.css">
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <a href="/">Retornar a Home</a>
        <h1><a href="/">Green Force</a></h1>
    </header>
    <main>
        <img src="/imagens/checked.png" alt="Cadastro concluído!!">
        <h2>Cadastro concluído com sucesso!!</h2>
        <p>Sua publicação aparecerá na <a href="/">página inicial</a> em alguns segundos!</p>
    </main>
</body>
</html>
