<!DOCTYPE html>
<html lang="pt-br" noindex>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Force</title>
    <link rel="stylesheet" href="/styles/response.css">
</head>
<body>
    <header>
        <a href="/">Retornar a Home</a>
        <h1><a href="/">Green Force</a></h1>
    </header>
    <main>
        <img src="/imagens/x.webp" alt="Erro ao realizar o cadastro">
        <h2>Não foi possível realizar o cadastro</h2>
        <p><a href="/new-tree">Tente novamente</a>, caso o erro persista tente após alguns minutos!</p>
    </main>
</body>
</html>