@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f5f2f2;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: springgreen;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: center;
}

header h1 a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(1, 102, 51);
    font-size: 55px;
    font-family: 'Amatic SC' ,cursive;
}

header span {
    font-size: 18px;
    text-decoration: none;
    margin-right: 20px;
    color: #0400ff;
    transition: 200ms;
}


section {
    padding: 5px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
}

section a {
    color: #0400ff;
    font-weight: bold;
    text-decoration: none;
}

form {

    height: fit-content;
    background-color: rgb(201, 201, 201);
    margin: auto;
    width: 50%;
    min-width: 310px;
    border-radius: 6px;
}

form fieldset {
    border-radius: 5px;
    border: 0.5px solid rgb(0, 0, 0);
}

form fieldset h3 {
    font-size: 25px;
}


form fieldset input, select {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    border: none;
}

form fieldset #preview {
    background-color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
}

form fieldset #preview img {
    width: 80%;
    border-radius: 5px;
}


form fieldset label {
    font-size: 13px;
    font-weight: bold;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
}

form fieldset button {
    padding: 10px;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #01cc66;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 200ms;
}

form fieldset button:hover {
    background-color: #02db6f;
}